* {
    font-family: 'Roboto';
}

/* * {
    outline: 1px solid red !important;
} */

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    justify-content: space-around;
    background-color: #1F2937;
}

.header .logo{
    font-size: 24px;
    margin: 0.6rem 0; 
    color: #F9FAF8;
}

.header .links{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 1.2rem;
}

.item {
    text-decoration: none; 
    color: #E5E7EB;
}

.item :hover{
    color: #7287fd;
}

.hero.container{
    display: flex;
    justify-content: center;
    margin: 50px 0 0;
    background-color: #1F2937;
    color: #E5E7EB;
    gap: 32px;
    padding: 3rem 8rem;
}

.hero.content{
    padding: 1rem 0;
    width: 345px;
}

.hero.content h2{
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero.content p{
    margin: 0.5rem 0;
}

.hero.content button{
    padding: 0.4rem 1.8rem;
    color: #F9FAF8;
    border-radius: 5px;
    border: none;
    font-weight: 900;
    background-color: #3882F6;
    cursor: pointer;
}

.hero.content button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

.hero.image{
    display: flex;
    padding: 1.5rem;
}

.hero a{
    margin: 0;
    padding: 0;
}

.hero img{
    height: 240px;
    max-height: 720px;
    width: auto;
    border-radius: 10px;
    cursor: pointer;
}

.infoheader {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 3rem 0 3rem;
}

.information {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 18px;
}

.images_descriptions.items {
    text-align: center;
}

.images_descriptions.items p {
    width: 13rem;
}

.images_descriptions.items img{
    height: 13rem;
    width: auto;
    border-radius: 8px;
    outline: solid #3882F6;
}

.qoute {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    padding: 10rem;
    align-items: center;
    background-color: #E5E7EB;
}

.qoute p{
    margin: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    text-align: left;
    min-width: 920px;
    max-width: 920px;
}

.author {
    display: block;
    text-align: right;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
}